*[data-v-618d344b] {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  margin: 0;
  padding: 0;
  list-style: none;
}
.g-container[data-v-618d344b] {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

*[data-v-38f2e325] {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  margin: 0;
  padding: 0;
  list-style: none;
}
.g-container[data-v-38f2e325] {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  margin: 0;
  padding: 0;
  list-style: none;
}
.g-container {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}
.less {
  color: red;
}

