*[data-v-6f648dd3] {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  margin: 0;
  padding: 0;
  list-style: none;
}
.g-container[data-v-6f648dd3] {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

